body {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgrey;
}

header {
    text-align: center;
}

main {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: solid;
    margin-right: 100px;
    margin-left: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

div {
    margin-left: 100px;
    padding-top: 10px;
    font-size: small;    
}

div img {
    width: 40px;
    height: 40px;
}